.logo {
  position: absolute;
  width: 102.34px;
  height: 28.07px;
  top: 24px;
  left: 24px;
}

.session {
  position: absolute;
  top: 24px;
  right: 48px;

  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  align-items: center;
  gap: 35px;
}

.session>div {
  width: 8px;
}

.session svg {
  width: 25px;
  height: auto;

  cursor: pointer;
}

.mobile p {
  text-align: center;
}